*{
    margin: 0;
    padding: 0;
}

.videoCover{
   z-index: -1000;
}

header{
    color: black; background-color: none;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: bolder;
    padding: 25px 30px;
}

.navbar navbar-expand-lg{
    background-color: none;

}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family: "Playfair Display";
    align-items: center;
    flex-direction: row;
}

nav li a{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    display: inline-flex;
    text-decoration: none;
    z-index: 1;
}

/* Sigo con el mismo problema con respecto al menu, al momento de insertarlo y aplicar la propiedad flex no se como posicionarlo ene l top de la pagina:( */

nav ul li a:hover{
    color: black;
    font-weight: lighter;
}

#title{
    color: rgb(56, 31, 31);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: "Cookie";
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
    z-index: 1;
    margin-bottom: 16rem;
    margin-top: 5rem;
}

.title2{
    color: black;
    text-align: start;
    margin-left: 2px;
    font-family: "Cookie";
    font-size: 80px;
    z-index: 1;
}

.title3{
    color: rgb(56, 31, 31);
    margin-left: 2px;
    text-align: center;
    font-family: "Globin One";
    font-size: 70px;
    z-index: 1;
}

h1{
    color: rgb(56, 31, 31);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: "Cookie";
    font-size: 60px;
    text-align: center;
    z-index: 1;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

footer{
    font-family: "Playfair Display";
    font-size: 35px;
    color: black;
    border-color: white;
    display: flex;
    justify-content: space-between;
    text-align: bottom;
    align-items: center;
    z-index: 1;
    border-top: 1px solid rgba(12, 12, 12, 0.3);
    width: 100%;
    position: relative;
    clear: both;
    padding-bottom: 1rem;
}

#Subscribete{
    height: 25px;
    font-size: 15px;
    border-radius: 5%;
}

#icons{
    color: black;
}

p{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}

img{
    width: 250px;
    height: 200px;
}

img #menuCarousel{
    position: absolute;
    opacity: 100%;
    height: 500px;
    width: 70%;
    justify-content: center;
}

.carousel-inner{
    height: 200px;
}

.carousel-item{
    position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;

}

.inner-item {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-left: 18rem;
    width: 50%;
}

#buttonCarousel{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-left: 16rem;
}

.carousel-caption{
    position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  color: black;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
}

#textCarousel{
    font-family: "Cookie";
    z-index: 10;
    font-size: 35px;
    justify-content: center;
}

#Carousel2{
    padding-top: 700px;
    position: absolute;
}

.bannerMenu{
    display: block;
    text-align: center;
    justify-content: center;
    background-color: rgb(36, 5, 36);
    padding: 4px;
}

.letraBanner{
    padding-top: 8px;
    color: white;
    font-size: 18px;
    animation: heartBeat 3s;
}

@keyframes heartBeat{
    50%{
        animation: none;
    }
    60%{
        animation: heartBeat 3s;
    }
}

.subMenu{
    color: rgb(3, 29, 3);
    font-size: 35px;
    font-family: 'Sofia', cursive;
    text-align: center;
}

.subMenu2{
    font-family: "Leckerli One";
    color: rgb(46, 21, 26);
    font-size: 35px;
    font-family: 'Aladin', cursive;
    text-align: center;

}

h2 , h4{
    font-family: "Leckerli One";
    color: rgb(185, 173, 173);
    font-size: 25px;
}

h3, h5{
    font-family: "Leckerli One";
    color: rgb(46, 21, 26);
    font-size: 25px;
}

#menuTitle{
    margin-right: 0px;
    display: inline-flex;
    justify-content: center;
}

#iconMenu{
    margin: 1rem;
    margin-left: 1px;
    display: inline;
    justify-content: center;
}

#menuTitle{
    animation: rubberBand 2s;
}

.titleMenu{
    justify-content: center;
    margin-top: 3px;
    margin-left: 2rem;
}

#LifeHacks{
    animation: backInDown 2s;
}

.LifeHacks{
    animation: backInLeft 3s;
}

@keyframes backInLeft{
    50%{
        animation: none;
    }
    60%{
        animation: backInLeft;
    }
}

.Experiencia{
    animation: backInUp 2s;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.beneficios{
    margin: 10px;
    padding: 5px;
}


div ul li{
    list-style-type: none;
    text-decoration: none;
}

@media screen and (max-width:480px) {
   .videoCover{
       position: absolute;
       z-index: -1000;
       height: 100%;
       width: 100%;
   }
   .navbar navbar-expand-lg navbar-light bg-light{
    position: fixed;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 65px 65px 15px;
}

.collapse navbar-collapse{
    display: block;
    flex-grow: 0;
    padding-left: 0;
}
   header{
       width: 100px; 
      
    }
    nav ul li a{
        display: block;
        padding: 12px;
        text-decoration: none;
    }   
    a:hover{
        color: black;
        font-weight: lighter;
    }
}

@media screen and (min-width:481px) and (max-width: 960px) and (orientation:vertical){
    header{
        width: 200px;
    }

    nav ul li a{
        display: flex;
    }

    .videoCover{
        z-index: -1000;
        position: relative;
        width: 100%;
        height: 100%;
    }

    #title #title2 #title3{
        text-align: center;
        font-size: 50px;
    }

}
 
.imgPersonaliza{
    width: 27rem;
}

.imgPersonaliza1{
    width: 27rem;
    margin-left: 1rem;
}

.perso{
    animation: tada 3s;
}

#cartSubtitle{
    font-family: 'Lateef', cursive;
    font-size: 40px;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 0px;
}

.iconCart{
    height: 280px;
    width: 220px;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-left: 35rem;
    margin-bottom: 0rem;
}

#shop{
    margin-bottom: 8rem;
}

#sign{
    margin-bottom: 8rem;
    margin-left: 36rem;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
  }